@import './fonts.scss';
@import './colors.scss';

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'salina trial';
    -webkit-font-smoothing: auto;
    -webkit-text-size-adjust: 100%;
    background-image: linear-gradient(to right,  $c-black, $c-violet-800);
    line-height: 1.5;
    font-size: 1.8rem;
    font-weight: 400;
    color: $c-white;
  }
    
  .container {
    margin: 0 auto;
    max-width: 131rem;
    padding: 0 1.5rem;
  }