@import './reset.scss';
@import './fons.scss';
@import './colors.scss';

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'salina trial', serif;
    font-size: 4rem;
    text-align: center;
    color: $c-brown-600;
    background-color: $c-blue-100;
    overflow-x: hidden;
  }

  @media (max-width: 920px) {
    body {
      font-size: 2rem;
    }
}


  
