@import '../../styles/colors.scss';
.garage__track-block {
    margin: 1rem 0.5rem;  
}

.garage__track {
    padding: 0.5rem;
    border-bottom-style: dashed;
    border-bottom-width: 0.5rem;
    border-bottom-color: $c-white; 
}

.garage__content {
    display: flex;
    justify-content: space-between;
    padding-right: 4rem;
}
.garage__flag {
    width: 10rem;
    height: 6rem;
    background: url('../../assets/svg/flag.svg') no-repeat;
}