@import '../../../styles/colors.scss';
@import '../mixin_source_block.scss';

.play-field_buttons {
    display: flex;
    padding-top: 4rem;
    gap: 2rem;
}

.continue_btn {
    display: none;
    @include btn-styles;
    font-size: 1.7rem;
    width: 13rem;
    &:focus {
        background-color: $c-green;
    }
}

.check_btn {
    @include btn-styles;
    font-size: 1.7rem;
    width: 13rem;
    padding: 1rem;
    &:focus {
        background-color: $c-green;
    }
}

.auto-complete_btn {
    @include btn-styles;
    font-size: 1.7rem;
    width: 13rem;
    &:focus {
        background-color: $c-green;
    }
}

@media (max-width: 1000px) {
    .play-field_buttons > button{
            font-size: 1.5rem;
            width: 9rem;
    }
}
