@import '../../styles/colors.scss';
.header {
    padding-top: 2rem;
    display: flex;
    gap: 3rem;
}

.garage__btn,
.winners__btn {
    padding: 1rem 2rem;
    display: inline-block;
    color: $c-violet-800;
    background-color: $c-white;
}
